@import url(https://fonts.googleapis.com/css?family=Walter+Turncoat|Crimson+Text:400,400italic);

html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Crimson Text";
  font-size: 19px;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

header {
  background: #006699;
  padding: 20px 0;
  color: white;
  border-bottom: 1px solid #ffffff;
}

footer {
  border-top: 1px dotted #666666;
  color: #666;
  margin-top: 40px;
  font-size: 80%;
  text-align: center;
}

header > *,
footer > div,
article {
  width: 800px;
  margin: 0 auto;
  position: relative;
}

article {
  width: 640px;
  padding-right: 160px;
}

@media (max-width: 799px) {
  header > *,
  footer > div,
  article {
    width: auto;
    padding-left: 4px;
    padding-right: 4px;
  }
}

h1 {
  line-height: 1.2;
  color: #697433;
  font-size: 150%;
  font-weight: bold;
  margin: 40px 0 0;
}

h2 {
  font-size: 120%;
  margin: 20px 0 0;
}

p,
ul,
ol {
  margin: 0 0 5px;
}

#title {
  font-family: "Walter Turncoat";
  font-size: 180%;
  line-height: 1.2;
}

nav > p {
  margin: 0;
}

#headersub {
  border-top: 1px dotted #000000;
  /*margin-bottom: 20px;*/
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  border-bottom: 2px solid #666666;
  border-top: 2px solid #666666;
  margin: 10px 0;
}

td,
th {
  vertical-align: top;
  text-align: left;
  padding-right: 10px;
  border-bottom: 1px solid #666666;
}

th {
  /*padding-top: 10px;*/
}

a {
  font: inherit;
  text-decoration: inherit;
  color: inherit;
}

article a {
  color: #006699;
}

ul > li {
  list-style-type: circle;
}

#photography {
  /* padding-right: 0 !important; */
  /* width: 800px !important; */
}

#photography section {
  white-space: nowrap;
  margin: 10px 0 20px;
  background: #222;
  color: white;
  padding: 20px;
  display: inline-block;
  margin-right: 200px;
  width: 455px;
  text-align: center;
}

#photography section a {
  color: inherit !important;
}

#photography h2 {
  margin: 10px 0;
  white-space: nowrap;
}

#photography section img {
  margin: 0 10px 0 0;
  border: 1px solid #444;
  max-width: 400px;
}
code {
  font-size: inherit;
  /*background: rgba(0, 34, 51, 0.05);*/
  background: #f2f3f4;
}
pre code {
  overflow-y: scroll;
  display: block;
}

hr {
  border-top: 1px solid #006699;
}

img {
  max-width: 100%;
}

#contact table > thead {
  display: none;
}
