<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{page.title}}</title>
		<meta name="description" content="Website of Simon Legner.">
		<link rel="stylesheet" href="/css/style.css" type="text/css">
		<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Walter+Turncoat' type='text/css'>
	</head>
	<body>
		<header>
			<div id="title">
				<a href="{{site.baseurl}}">Simon Legner</a>
			</div>
			<nav>
			  {% include Menu.html %}
			</nav>
		</header>
		<div id="headersub"></div>
		<article id="{{page.title}}">
		  <h1>{{page.title}}</h1>
		  {{content}}
		</article>
		<footer>
			<div>© Simon Legner, 2011–{{site.time|date:"%Y"}}</div>
		</footer>
	</body>
</html>
